#thebestgames {
    color:rgb(255, 60, 0);
    margin-left: 600px;
   font-style: italic;
   font-size: 10mm;
   margin-top: 50px;
}

html{
    background-image: url(https://media.giphy.com/media/l378gVDO562QL8ecM/giphy.gif);
}

#val,#gta{
    height: 315px;
    margin-left: 100px;
    margin-top: 60px;
}


#minecraft{
    height: 315px;
    margin-left: 100px;
    margin-top: 60px;
    width: 400px;
}

#hitman{
    height: 315px;
    margin-left: 100px; 
    margin-top: 60px;
    
}

#control{
    height: 315px;
    margin-left: 100px; 
    margin-top: 60px;
}
#gmod{
    height: 315px;
    margin-left: 200px; 
    margin-top: 60px;
}
#amongus{
    height: 315px;
    margin-left: 100px; 
    margin-top: 60px;
}
#uno{
    height: 315px;
    margin-left: 100px; 
    margin-top: 60px;
}

#sims{
    height: 315px;
    margin-left: 200px; 
    margin-top: 60px;
}

#check{
    color:rgb(255, 60, 0);
    margin-left: 500px;
   font-style: italic;
   font-size: 10mm;
   margin-top: 50px;
}

#epic{
    height: 200px;
    margin-left: 200px; 
}

#ubisoft{
    height: 200px;
    margin-left: 200px; 
    margin-top: 60px;
}

#blizzard{
    height: 200px;
    margin-left: 550px; 
    margin-top: 60px;
}

#scavenger{
    height: 250px;
    margin-left: 100px; 
    margin-top: 60px;
}

#tomb{
    height: 315px;
    margin-left: 100px; 
    margin-top: 60px;
}

#valorant{
   
    margin-left: 200px; 
    margin-top: 60px;
}

#gta5{
    margin-left:249px; 
    margin-top: 60px;  
}

#mine{
    margin-left:350px; 
    margin-top: 60px;  
}


#hitman3{
    margin-left:200px; 
    margin-top: 60px;  
}

#con{
    margin-left:220px; 
    margin-top: 60px;    
}

#garry{
    margin-left:355px; 
    margin-top: 60px;  
}

#us{
    margin-left: 210px; 
    margin-top: 60px;
}

#u{
    margin-left: 210px; 
    margin-top: 60px;  
}

#sim{
    margin-left: 350px; 
    margin-top: 60px;  
}


#scav{
    margin-left:235px; 
    margin-top: 60px;  
}

#raider{
    margin-left:220px; 
    margin-top: 60px;  
}



